@model Factory.Models.Engineer
<div class="collapse" id="addEngineer">
  <div class="card card-body">
    <h5 class="card-title">Add a new Engineer</h5>
    <form action="~/Engineer/Create" method="post">
      <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class="form-control required", @required="required", @placeholder="Johny Bravo"})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Notes)
        @Html.TextAreaFor(model => model.Notes, new { @class="form-control", @placeholder="Likes to call his mama on lunch break."})
      </div>
      @if (ViewBag.Machines.Count != 0)
      {
      <div class="form-group">
        @Html.Label("Select a Machine this Engineer is qualified to repair")
        @Html.DropDownList("MachineId", (IEnumerable<SelectListItem>)ViewBag.MachineId, new { @class="form-control"})
      </div>
      }
      <button type="submit" class="btn btn-primary">Add Engineer</button>
      <a>@Html.ActionLink("Cancel", "Index", "Home", null, new { @class="btn btn-danger"})</a>
    </form>
  </div>
</div>