@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  @model Factory.Models.Machine
  <h1 class="display-4">@Model.Name Details</h1>
  <p class="lead">@Model.Description</p>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This machine does not have any Engineers qualified to service it.</p>
    @if(ViewBag.Engineers.Count == 0)
    {
    @Html.ActionLink("Add Engineer", "Create", "Engineer", null, new { @class = "btn btn-primary"})
    }
    else
    {
    @Html.ActionLink("Add License", "AddEngineer", "Machine", new { @id = Model.MachineId}, new { @class = "btn btn-primary"})
    }
  }
  else
  {
  <dl class="row">
    <dt class="col-sm-3">Qualified Engineers</dt>
    @foreach(var join in Model.JoinEntities)
    {
        <dd class="col-sm-9">@Html.ActionLink(join.Engineer.Name, "Details", "Engineer", new { @id = join.EngineerId}, new { @class = "text-primary"}) | @Html.ActionLink("Delete License", "RemoveEngineer", "Machine", new { @id = join.EngineerMachineId}, new { @class = "text-danger"})</dd>
    }
  </dl>
  @Html.ActionLink("Add License", "AddEngineer", "Machine", new { @id = Model.MachineId}, new { @class = "btn btn-primary"})
  }
  @await Html.PartialAsync("_Footer")
</div> 